h1{
    font-family: Arial;
    font-size: 60px;
    text-shadow: 3px 3px gray;
    text-align: center;
    color: purple;
}

h2{
    color: green;
    font-size: 30px;
    text-decoration: underline;
}

h3{
    font-size: 20px;
    font-style: italic;
}

p.a{
    color: #444444;
    font-family: "돋움", Dotum;
    font-style: italic;
    font-size: 14px;
    line-height: 150%;
}