body{
    background-color: linen;
    color: blueviolet;
    /* margin-left or right : 좌 - 우측 띄어쓰기 */
    margin-left: 30px;
    margin-right: 30px;
}
h3{
    /* text-align : center 문자 위치 중앙 지점 */
    text-align: center;
    color: darkred;
}
/* background 와 background-color 모두 색을 바꿀 수 있으나
background-color는 색상만 변경 가능하고
background는 여러 속성을 지정해서 사용할 수 있다. */

/* 해당확장자에는 해당 주석을 사용하셔야 합니다. 주석에러 있어요 */